In [3]:
from vnstock3 import Vnstock as vn

In [6]:
stock = vn(show_log=False).stock(symbol="ABC", source="VCI")
vni = stock.quote.history(symbol="VNINDEX", start="2013-01-01", end="2024-01-02", interval="1D")

In [7]:
vni

           time     open     high      low    close     volume
0    2013-01-02   415.50   419.05   414.41   418.35   64288223
1    2013-01-03   420.68   420.68   413.68   419.27   99824757
2    2013-01-04   418.75   426.48   417.50   426.06   64852320
3    2013-01-07   428.84   434.64   426.86   434.19   78123432
4    2013-01-08   437.25   447.16   437.15   447.16  119101143
...         ...      ...      ...      ...      ...        ...
2740 2023-12-27  1123.49  1126.47  1121.99  1121.99  776800261
2741 2023-12-28  1122.77  1130.58  1120.50  1128.93  716927949
2742 2023-12-29  1131.68  1135.05  1129.93  1129.93  710847562
2743 2024-01-02  1138.01  1139.71  1128.69  1131.72  842255467
2744 2024-01-03  1131.97  1144.17  1128.32  1144.17  719932658

[2745 rows x 6 columns]